<section class="news_row clearfix">

    <%if(documentList.length>0){%>
    <%documentList.forEach(function(item){%>
    <a href="/app/details/<%=item._id%>.html" class="feature-news index-base-item">
        <div class="title-image-wrap">

            <div class="title-image" style="background-image:
            url('<%=item.sImg%>')"></div>

            <div class="gradient">


            </div>
            <span class="time left"><%=myDateFormat(item.date)%></span>
            <span class="comment right"><%=item.commentNum%>评论</span>
        </div>
        <div class="content" >
            <h3 class="title"><%=item.title%></h3>
            <p class="summary"><%= item.discription%>
                <%=item.clickNum%>
            </p>
            <!--<p class="summary">sdfsdfsdf</p>-->
            <!--<p class="summary"><i class="fa fa-eye"></i><a><%=item.clickNum%></a></p>-->
            <!--<p class="summary"><i class="fa fa-comments-o"></i><a><%=item.commentNum%></a></p>-->
            <!--<p class="summary"><i class="fa fa-heart"></i><a>2</a></p>-->

            <!--<%if(item.isTop == 1){%>-->
            <!--<span class="fa fa-flag" title="列表推荐"></span>-->
            <!--<%}%>-->
        </div>
        <!--<div class="text-gradient">-->

        <!--</div>-->


    </a>
    <%})%>
    <%}else{%>
    <p class="text-center">暂无内容...</p>
    <%}%>

</section>
<section class="pagenum_row clearfix">
    <% include ../web/temp/doraGallery/public/pagination %>
</section>