<div class="container">

    <div class="blog-detail">
        <div id="puinfo">
            <div id="puinfobody">
                <h3><%=documentInfo.title%>
                    <span class="yy-icon yy-tjhs" title="列表推荐"></span>
                </h3>
                <p>作者：<a href="###" target="_blank"><%=documentInfo.author.name%></a>
                    &nbsp;&nbsp;发布日期：<span class="item-time"><i class="icon-time"></i><a><%=myDateFormat(documentInfo.date)%></a></span>
                </p>
            </div>
            <span class="pull-right" id="prenqi">
                <span>人气</span><%=documentInfo.clickNum%>
            </span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 content">
            <div class="col-md-2 col-sm-2">&nbsp;</div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!--<p><%- documentInfo.comments%></p>-->
                <%if(documentInfo.hd_url.length>0){%>
                <!--<video  width="100%" controls="controls"  src="<%=documentInfo.hd_url%>">-->
                    <!--Your browser does not support the video tag.-->
                <!--</video>-->

                <!--<iframe width="100%" scrolling="no" allowfullscreen height="400px"  frameborder="0"-->
                        <!--src="/vrview/index.html?video=<%=documentInfo.hd_url%>&image=examples/video/congo_2048.jpg"></iframe>-->

                <iframe width="100%" scrolling="no" allowfullscreen height="400px"  frameborder="0"
                        src="http://video.51itgirls.cn/video4/player.html?vrId=45&verison=4"></iframe>

                <!--<div class="valiantPhoto"-->
                     <!--data-video-src='<%=documentInfo.hd_url%>'-->
                     <!--style="width: 100%;; height: 400px;">-->
                    <!--<video  id="videoid"  loop=""-->
                            <!--style="display: none;" crossOrigin="anonymous"-->
                            <!--controls=""></video>-->
                <!--</div>-->
                <p>高清：<%- documentInfo.hd_url%></p>
                <%} else {%>
                <!--<video  controls="controls"src="<%=documentInfo.sd_url%>">-->
                    <!--Your browser does not support the video tag.-->
                <!--</video>-->
                <!--<iframe width="100%" scrolling="no" allowfullscreen height="400px"  frameborder="0"-->
                        <!--src="/vrview/index.html?video=<%=documentInfo.sd_url%>&image=examples/video/congo_2048.jpg"></iframe>-->

                <iframe width="100%" scrolling="no" allowfullscreen height="400px"  frameborder="0"
                        src="http://video.51itgirls.cn/video4/player.html?vrId=45&verison=4"></iframe>
                <!--<div class="valiantPhoto"-->
                     <!--data-video-src='<%=documentInfo.sd_url%>'-->
                     <!--style="width: 100%;; height: 400px;">-->
                    <!--<video  id="videoid"  loop=""-->
                            <!--style="display: none;" crossOrigin="anonymous"-->
                            <!--controls=""></video>-->
                <!--</div>-->
                <p>标清：<%- documentInfo.sd_url%></p>
                <%}%>

            </div>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('.valiantPhoto').Valiant360({
                        crossOrigin: 'anonymous',   // valid keywords: 'anonymous' or 'use-credentials'
                        clickAndDrag: true,    // use click-and-drag camera controls
                        flatProjection: true,  // map image to appear flat (often more distorted)
                        fov: 35,                // initial field of view
                        fovMin: 3,              // min field of view allowed
                        fovMax: 100,                // max field of view allowed
                        hideControls: false,    // hide player controls
                        lon: 0,                 // initial lon for camera angle
                        lat: 0,                 // initial lat for camera angle
                        loop: "false",           // video loops by default
                        muted: false,            // video muted by default
                        autoplay: true          // video autoplays by default
                    });
                });
            </script>
            <div class="col-md-2 col-sm-2"></div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 blog-footer">

                <div class="share-detail">
                    <div class="pctiem pull-left" id="ptags">
                        <span class="yy-icon yy-soi2"></span>标签&nbsp;&nbsp;
                        <%var tagsArr = documentInfo.tags.split(',')%>
                        <%for(var i=0;i<tagsArr.length;i++){%>
                            <a target="_blank" href="###"><%=tagsArr[i]%></a>&nbsp;
                        <%}%>

                    </div>
                    <div class="share-btn">
                        <a class="pvshare yy-icon yy-ssina" target="_blank" href="#"></a>&nbsp;
                        <a class="pvshare yy-icon yy-sqq" target="_blank" href="#"></a>&nbsp;
                        <a class="pvshare yy-icon yy-stt" target="_blank" href="#"></a>&nbsp;
                        <a class="pvshare yy-icon yy-sfb" target="_blank" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="maybeLike">

        <div class="col-md-12">
            <% include ../public/reCommendList %>
        </div>
        <div class="clearfix"></div>

    </div>

    <% include ../public/msgBoard %>


</div> <!-- /container -->